h1 {
    color: rgb(55, 168, 55);
    font-family: "Helvetica", sans;
    font-size: 2em;
    text-align:center;
}

body {
    background-color: rgb(223, 227, 236);
    font-size: 20px;
}

#poemaQueEuFiz {
    color: rgb(190, 91, 91);
    font-weight: bold;
    line-height: 1.5em;
    text-align:center;
}

.listaRazoes{
    color:purple;
    background-color:rgb(252, 252, 198);
    font-family: cursive;
    font-style: italic;
}
#tabela{
    color:black;
    background-color:rgb(126, 22, 22);
}
a{
    text-decoration: none;
}
#imagem{
    margin-right: auto;
    margin-left:auto;
    display:block;
    width: 30.5%;

}